doctype html
html(lang='en')
    head
        title COSC203: Birds of Aotearoa
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet', href='/styles/layout.css')
        link(rel='stylesheet', href='/styles/theme.css')
        link(rel='stylesheet', href='/styles/conservation-status.css')
        link(rel='stylesheet', href='/styles/cards.css')
        script(href='/scripts/script.js')

    body(class='bod4')
        include templates/header.pug
        aside
            a(href=`/birds`)
                button Home
            include templates/status_legend.pug
        main
            include templates/bird_card_individual.pug
        include templates/footer.pug